<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scit36a2.minnano.dao.MemberDAO">
<select id="selectOne" parameterType="emp" resultType="emp">
	SELECT *
	FROM employee
	WHERE emp_id=#{emp_id}
</select>

<insert id="insert" parameterType="emp">
	INSERT ALL into employee values(
		emp_seqence.nextval
		,#{comp_sequence}
		,#{emp_id}
		,#{emp_pw}
		<if test="auth_level eq '사장'">,9=#{auth_level}</if>
		<if test="auth_level neq '사장'">,1=#{auth_level}</if>
		,#{emp_name}
		,#{emp_tel}
		,#{emp_quiz}
		,#{emp_quiz_answer}
	)
</insert>

<select id="reqCompSeq" resultType="int">
	select comp_seqs.nextval from dual
</select>

<insert id="join" parameterType="hashmap">
	insert all 
		into company values(
			#{comp_seq}
			, #{comp_id}
			, #{comp_name}
			, #{comp_tel}
			, #{comp_address}
			, #{comp_address2}
		)
		into employee values(
			emp_seqence.nextval
			,#{comp_seq}
			,#{emp_id}
			,#{emp_pw}
			,#{auth_level}
			,#{emp_name}
			,#{emp_tel}
			,#{emp_quiz}
			,#{emp_quiz_answer}
		)
		select * from dual
</insert>
</mapper>
