<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scit36a2.minnano.dao.SalesDAO">
	
<insert id="insertseat" parameterType="sea">
		insert into seat	(
		seat_seq,
		comp_seq,
		seat_id
	)	values	(
		seat_seqs.nextval,
		#{comp_seq},
		#{seat_id}
	)
</insert>
		
	<select id="selectseat" resultType="sea" parameterType="int">
		<!-- select b.seat_id from employee a,seat b where a.comp_seq = b.comp_seq -->
		select * from seat where comp_seq = #{param}
	</select>
	
	<delete id="deleteseat" parameterType="sea">
		delete from 
			SEAT
		where 
			seat_seq = #{seat_seq}
	
	</delete>
	<update id="updateseat" parameterType="sea">
		update
			SEAT
		set
			seat_id = #{seat_id}	
		where
			seat_id = #{seat_id}
	</update>
	
	
	
	
	
	<insert id="insertMenu" parameterType="me">
		insert into MENU	(
		menu_seq,
		comp_seq,
		menu_sellFlag,
		menu_name,
		menu_price,
		menu_category
		)	values	(
		menu_seqs.nextval,
		#{comp_seq},
		#{menu_sellFlag},
		#{menu_name},
		#{menu_price},
		#{menu_category}
		)	
	</insert>
	<select id="selectMenu" parameterType="int" resultType="me">
		select 
			menu_seq,
			comp_seq,
			menu_sellFlag,
			menu_name,
			menu_price,
			menu_category
		from 
			MENU
		where
			comp_seq = #{comp_seq}
	</select>
	<delete id="deleteMenu" parameterType="me">
		delete from MENU
		where menu_seq = #{menu_seq}
	</delete>
	<update id="updateMenu" parameterType="int">
		update
			MENU
		set
			menu_sellFlag = #{menu_sellFlag},
			menu_name = #{menu_name},
			menu_price = #{menu_price},
			menu_category = #{menu_category}
		where
			menu_seq = #{menu_seq}
	</update>




	<insert id="insertExpense" parameterType="exp">
		insert into EXPENSE	(
		expense_seq,
		comp_seq,
		expense_type,
		expense_date,
		expense_description,
		expense_amount
		)	values	(
		expense_seqs.nextval,
		#{comp_seq},
		<!-- <if test="expense_type=='고정'">,#{expense_type}=1</if>
		<if test="expense_type=='변동'">,#{expense_type}=2</if>
		<if test="expense_type=='기타'">,#{expense_type}=3</if> -->
		#{expense_type},
		sysdate,
		#{expense_description},
		#{expense_amount}
		)
	</insert>
	<select id="selectExpense" parameterType="int" resultType="exp">
		select 
			expense_seq,
			comp_seq,
			expense_type,
			expense_date,
			expense_description,
			expense_amount
		from 
			EXPENSE
		where
			comp_seq = #{comp_seq}
	</select>
	<delete id="deleteExpense" parameterType="exp">
		delete from EXPENSE
		where
			expense_seq = #{expense_seq}
	</delete>
	<update id="updateExpense" parameterType="exp">
		update
			EXPENSE
		set
			expense_type =#{expense_type},
			 <if test="expense_date == null">
				 sysdate,
			</if>	
			<if test="expense_date != null">
				expense_date = TO_CHAR(expense_date, 'YYYY-MM-DD'),
			</if>
			expense_description =#{expense_description},
			expense_amount =#{expense_amount}
		where
			expense_seq = #{expense_seq}
	</update>
</mapper>

