<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scit36a2.minnano.dao.SalesDAO">

  <insert id="insertseat" parameterType="sea">
    INSERT INTO 
    	seat (
	    seat_seq
	    , comp_seq
	    , seat_id
	    ) VALUES (
	    seat_seqs.nextval
	    , #{comp_seq}
	    , #{seat_id}
	    )
  </insert>

  <select id="selectseat" resultType="sea" parameterType="int">
    <!-- select b.seat_id from employee a,seat b where a.comp_seq = b.comp_seq -->
    SELECT
    	*
    FROM
    	seat
    WHERE
    	comp_seq = #{param}
    ORDER BY
   		seat_seq
  </select>

  <delete id="deleteseat" parameterType="sea">
    DELETE FROM
    	SEAT
    WHERE
    	seat_seq = #{seat_seq}
  </delete>

  <update id="stopseat" parameterType="sea">
    UPDATE
    	SEAT
    SET
    	seat_id = '[X]' || (select seat_id from seat where seat_seq = ${seat_seq}) 
    WHERE
    	seat_seq = #{seat_seq}
  </update>
  
  <update id="updateseat" parameterType="sea">
    UPDATE
    	SEAT
    SET
    	seat_id = #{seat_id}
    WHERE
    	seat_seq = #{seat_seq}
  </update>

  <insert id="insertMenu" parameterType="me">
    INSERT INTO 
    	MENU 
    	(
	    menu_seq,
	    , comp_seq
	    , menu_sellFlag
	    , menu_name
	    , menu_price
	    , menu_category
	    )
    	VALUES (
	    menu_seqs.nextval
	    , #{comp_seq}
	    , #{menu_sellFlag}
	    , #{menu_name}
	    , #{menu_price}
	    , #{menu_category}
	    )
  </insert>
  
  <select id="selectMenu" parameterType="me" resultType="me">
    SELECT
	    menu_seq
	    , comp_seq
	    , menu_sellFlag
	    , menu_name
	    , menu_price
	    , menu_category
    FROM
    	MENU
    WHERE
    	comp_seq = #{comp_seq}
  </select>

  <delete id="deleteMenu" parameterType="me">
    DELETE FROM 
    	MENU
    WHERE 
    	menu_seq = #{menu_seq} 
    	and comp_seq = #{comp_seq}
  </delete>

  <update id="updateMenu" parameterType="me">
    UPDATE
    	MENU
    SET
	    menu_sellFlag = #{menu_sellFlag}
	    , menu_name = #{menu_name}
	    , menu_price = #{menu_price}
	    , menu_category = #{menu_category}
    WHERE
    	menu_seq = #{menu_seq} 
    	and comp_seq = #{comp_seq}
  </update>

  <insert id="insertExpense" parameterType="exp">
    INSERT INTO 
    	EXPENSE
    	values(
	    expense_seqs.nextval
	    , #{comp_seq}
	    , #{expense_type}
	    , to_date(#{expense_date}, 'YYYY-MM-DD')
	    , #{expense_description}
	    , #{expense_amount}
	    )
  </insert>

  <select id="selectExpense" parameterType="HashMap" resultType="exp">
    SELECT
	    expense_seq
	    , comp_seq
	    , expense_type
	    , to_char(expense_date, 'yyyy-mm-dd') as expense_date
	    , expense_description
	    , expense_amount
    FROM
    	expense
    WHERE
    	comp_seq = #{comp_seq} 
    	and expense_date between to_date(#{month} || '-01', 'yyyy-mm-dd') and last_day(to_date(#{month}, 'yyyy-mm')) 
  </select>

  <delete id="deleteExpense" parameterType="exp">
    DELETE FROM 
    	EXPENSE
    WHERE
    	expense_seq = #{expense_seq}
  </delete>

  <update id="updateExpense" parameterType="exp">
    UPDATE
    	EXPENSE
    SET
	    expense_date = #{expense_date}
	    , expense_type = #{expense_type}
	    , expense_description = #{expense_description}
	    , expense_amount = #{expense_amount}
    WHERE
    	expense_seq = #{expense_seq}
  </update>

  <select id="selectCVTdata" parameterType="hashmap" resultType="hashmap">
    SELECT 
	    to_char(payment_time, 'yyyy-mm-dd') as pmt_date
	    , to_char(payment_time, 'hh24:mi:ss') as pmt_time
	    , payment_amount as pmt_amount
	    , rownum
	FROM 
	    payment p 
	    LEFT JOIN sales_state s ON p.sales_state_seq = s.sales_state_seq
	WHERE
	    s.comp_seq = #{comp_seq}
	    and payment_time like to_date(#{inqdate}, 'yyyy-mm-dd')
	    and payment_type = 1
	ORDER BY 
	    pmt_time asc
  </select>  
  
</mapper>
